.archive-realization {
  h2 {    
    text-transform: uppercase;
    font-size: 4.8rem;
    position: relative;   
    margin: 5rem 0 5rem 10rem;

    @media screen and (max-width: 600px){
      margin: 5rem 1.5rem;
    }

    &:after {
      @include long-line;
    }
  }

  .realization-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    padding: 0 10rem; 

    @media screen and (max-width: 1024px){
      grid-template-columns: 1fr 1fr;
      padding: 0 1.5rem;
    }

    @media screen and (max-width: 600px){
      display: block;
    }
    
    .realization-cont {
      a {
        overflow: hidden;
        max-height: 55rem;
        height: 100%;
        width: 100%;
        display: inline-block;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }

        img {
          height: 55rem;  
          transition: all .4s;
          width: 100%;
        }
      }

      &:hover {
        .realization-cont__title {
          a:after {            
            width: 100%;            
          }
        }
      }

      &__title {
        a {
          color: #000;
          text-decoration: none;
          position: relative;
          display: inline-block;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 4.8rem;

          &:after {
            content: '';
            position: absolute;
            height: .3rem;
            background-color: $secondaryColor;
            width: 9rem;
            bottom: 0;
            left: 0;
            transition: all .4s;
          }
        }
      }
    }
  }

  .template-about__bottom {
    &--baner {
      height: 63rem;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .template-about__bottom-center {
        background-color: #fff;
        position: absolute;
        text-transform: uppercase;       
        text-align: center;
        padding: .5rem 0;
        font-weight: 700;

        div {
          font-size: 7.5rem; 
          margin-bottom: 2rem;                   
        }

        a {
          font-size: 1.8rem;
          color: #fff;
          background-color: $secondaryColor;
          padding: 1.5rem 5rem;
          transition: all .4s;
          border-radius: .5rem; 
          text-decoration: none;         

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}