.site-footer {
  background-color: $primaryColor;
  color: #858585;
  font-size: 1.6rem;
  .site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;

    div {
      padding: 0 1rem;
      line-height: 1.6rem;
    }

    .site-year {
      border-right: 2px solid #858585;
    }
  }
}